.mail-data-ctn{
  border: 2px solid gainsboro;
  margin-left: 14%;
  margin-right: 2%;
  margin-top: 1%;
  padding: 1rem;
  background: rgba(255,255,255,0.4);
border-radius: 10px;
border: 1px solid rgba(255,255,255,0.4);
 position:relative;
color:white;
z-index:1;
 backdrop-filter: blur(10px);
box-shadow: 0 10px 25px rgba(0,0,0,0.2);
color:black

}
.mail-header{
  display: flex;
  flex-direction: column;
  border:  1 px solid gainsboro;
}

.mail-header-ctn{
  display: flex;
  justify-content: space-between;
}